<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-1">Iota</h1>
            <h5 class="display-5">Simplifying Student Organizations</h5>
        </div>
        <div class="col-12">
            <h5>Why Iota?</h5>
            <p>The disorganization of student organizations is the result of the lack of tools.<br>
            This project was an opportunity for me to explore the standards of modern web development, <br>
            as well as develop new tools for the organizations I love.<br>
            </p>
            <h5>What is Iota?</h5>
            <p> Iota is an asynchronous, stateless, Progressive Web App (PWA).
                <br>
                It is built with Angular for the Front-End, and a custom API Server running in Node.JS on the Back-End.
                <br>
                It employs modern development standards seen in environments such as Facebook, Amazon, Netflix, etc.
            </p>
            <h5>What next?</h5>
            <p> The goal is to grow Iota over the next few years after graduation. <br>
            I firmly believe that continued development will make this an essential tool for all students/faculty.<br>
            Not just those involved in greek life.</p>
        </div>
        <div class="col-12">
            <h5>~</h5>
            <p>Created By Cole Cassidy - 2022
                <br>
                <br>
                Special Thanks to:
                <br>
                Dr. Zizhong John Wang - Virginia Wesleyan University - Stage Right Lighting
                <br>
                <br>
                Technology Credits:
                <br>
                Angular - Bootstrap - Express.js - Node.js - MongoDB 
            </p>
        </div>
    </div>
</div>
