<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #createUser="ngForm">
            <h5 class="card-title">Login</h5>
            <!-- UserName -->
            <div class="mb-3">
                <label for="new-user-uName" class="form-label">Username:</label>
                <input type="text" id="new-user-uName" class="form-control" required
                [(ngModel)]="model.uName" name="uName"
                #name="ngModel">
                <div id="userNameHelp" class="form-text">Must be unique. Will be used to sign-in.</div>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="new-user-pWord" class="form-label">Password:</label>
                <input type="text" id="new-user-pWord" class="form-control" required
                [(ngModel)]="model.pWord" name="pWord">
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-primary"
            [disabled]="!createUser.form.valid" 
            (click)="newUser(); 
            createUser.reset()"
            routerLink="/dash">Login</button>
        </form>
    </div>
</div>