<div class="container-fluid">
    <div class="row">
        <div class="col mb-3">
            <h1 class="text-center">Welcome, {{whoami.fName}} </h1>
            <p class="lead text-center">You've got work to do.</p>              
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6 mb-3">
            <app-user-panel></app-user-panel>
        </div> -->
        <div class="col-md-4 mb-3">
            <app-org-panel [orgs]="whoami.orgs"></app-org-panel>
        </div>
        <div class="col-md-4 mb-3">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-success"
                routerLink="/register/join">Add Organization</button>

                <button type="button" class="btn btn-primary"
                routerLink="/usr/1/{{ whoami._id }}">Edit Account</button>
            </div>
            
        </div>
    </div>
    <div class="row">
        
    </div>
</div>