// /* You can add global styles to this file, and also import other style files */
// /* Application-wide Styles

// Color Definitions

$deep: #1e1f2e;
$ink: #282738;
$black: #000000;
$crater: #9fa4a8;
$moon: #bec3c7;
$pop:       #0e76ff
