<div class="container-fluid" *ngIf="org">
    <h1>{{ getName() }}</h1>
    <div class="row gy-2">
        <div class="col-md-4">
            <p>{{ org.byline || "A student organization"}}</p>
        </div>
        <div class="col-md-4">
            <p>Registered: {{ getDate() }}</p>
        </div>
        
    </div>
    <hr/>
    <div class="row gy-2">
        <div class="col-md-4 gy-2">
            <app-user-panel [users]="org.members"></app-user-panel>
        </div>
        <div class="col-md-4 gy-2">
            <app-minutes-panel></app-minutes-panel>
        </div>
        <div class="col-md-4 gy-2">
            <div>
                <button type="button" class="btn btn-success"
                routerLink="/min/0/{{org._id}}">New minutes</button>
                
            </div>
        </div>
        <div class="col-md-2 gy-2">
            <div class="card regCode-card">
                <div class="card-header regCode-head">
                    Join Code:
                </div>
                <div class="card-body regCode-body ">
                    <h1>{{ regCode }}</h1>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Modals loaded by toggles -->
</div>