<div class="container-fluid" *ngIf="org">
    <h1>{{ getName() }}</h1>
    <div class="row gy-2">
        <div class="col-md-4">
            {{ org.byline || "A student organization"}}
        </div>
        <div class="col-md-4">
            {{ getDate() }}
        </div>
        <div class="col-md-4">
            {{ regCode }}
        </div>
    </div>
    <hr/>
    <div class="row gy-2">
        <div class="col-md-4 gy-2">
            <app-user-panel [users]="org.members"></app-user-panel>
        </div>
        <div class="col-md-4 gy-2">
            <app-minutes-panel></app-minutes-panel>
        </div>
        <div class="col-md-4 gy-2">
            <div>
                <button type="button" class="btn btn-success"
                routerLink="/min/0/{{org._id}}">New minutes</button>
                
            </div>
        </div>
    </div>
    <hr/>
    <!-- Modals loaded by toggles -->
</div>